global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'spring-boot'
    metrics_path: '/actuator/prometheus'
    static_configs:
#      Our Local Ip since the app is not deployed inside a docker
      - targets: ['192.168.18.7:8080']
