spring:
  application:
    name:core

  datasource:
    url: jdbc:postgresql://localhost:5432/bankpoc
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  security:
    user:
      name: admin
      password: admin123
  jpa:
    hibernate:
#     dev use update / auto and for prod use validate
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  redis:
    host: redis
    port: 6379

  kafka:
    bootstrap-servers: kafka:9092

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080
