spring:
  application:
    name: core
  # Optimizations
  main:
    lazy-initialization: true
  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/bankpoc
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  redis:
    host: redis
    port: 6379
  cache:
    type: redis
  kafka:
    bootstrap-servers: kafka:9092
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus,metrics,info"
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0   # trace 100% of requests (adjust to 0.1 in prod)
  otlp:
    tracing:
      endpoint: http://192.168.18.7:4318/v1/traces

  # This reduces the size of HTTP responses (like JSON) sent to the client.
  compression:
    enabled: true
    min-response-size: 2048 # Only compress responses larger than 2KB
    mime-types: application/json,application/xml,text/html,text/xml,text/plain

server:
  port: 8080
