spring:
  application:
    name: core
  datasource:
    url: jdbc:postgresql://localhost:5432/bankpoc
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  redis:
    host: redis
    port: 6379
  kafka:
    bootstrap-servers: kafka:9092
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0   # trace 100% of requests (adjust to 0.1 in prod)
  otlp:
    tracing:
      endpoint: http://192.168.18.7:4318/v1/traces

server:
  port: 8080
